.block-faq {
	label {
		margin-bottom: 8px;
		padding: 0px;
		display: block;
		font-size: 11px;
		font-weight: 500;
		line-height: 1.4;
		text-transform: uppercase;
	}

	.components-panel__body {
		&.is-opened {
			padding: 16px 0 0;
		}

		&-title {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}

	&__component {
		padding: 16px;

		&:first-of-type {
			padding-top: 0;
		}

		&:not(:last-child) {
			border-bottom: 1px solid #E0E0E0;
		}

		&-media {
			margin-top: 10px;
			display: flex;
			align-items: center;
			column-gap: 10px;
		}
	}

	&__wrapper {
		padding: 8px;
		margin-bottom: 16px;
		border: 1px solid #E0E0E0; 
	}

	&__item {
		&:not(:last-child) {
			padding-bottom: 8px;
			margin-bottom: 16px;
			border-bottom: 1px dashed #E0E0E0;
		}

		&-del-icon {
			padding: 0 !important;
			margin-bottom: 5px;
			justify-content: end !important;
			min-width: auto !important;
			height: auto;
			float: right;
			color: #F44336;

			&:hover {
				color: #F44336 !important;
			}
		}
	}
}