@use '../../src/scss/partials/variables' as *;
@use '../../src/scss/partials/mixins' as *;

.section-faq {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 20px;
		margin-bottom: 70px;

		@include breakpoint (sm-tablet, max) {
			flex-direction: column;
			align-items: start;
		}

		&-button {
			flex-shrink: 0;
		}
	}

	&__body {
		border-top: 1px solid $color-primary;
	}

	.faq {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $color-primary;

		&__question {
			display: flex;
			justify-content: space-between;
			column-gap: 10px;
			cursor: pointer;
			transition: $transition;

			&:hover {
				color: $color-accent;

				.icon--plus svg path{
					fill: $color-accent;
				}
			}

			&-title {
				margin-bottom: 0;
			}

			&-icon {
				flex-shrink: 0;
				width: 20px;
				height: 20px;
				transition: $transition;

				&.open {
					transform: rotate(45deg);
				}
			}
		}

		&__answer {
			display: none;
			margin-top: 20px;

			&.open {
				display: block;
			}

			@include breakpoint (lg-phone, max) {
				font-size: $font-size-sm;
				line-height: $line-height-sm;
			}
		}
	}
}