.block-product-slider {
	label {
		margin-bottom: 8px;
		padding: 0px;
		display: block;
		font-size: 11px;
		font-weight: 500;
		line-height: 1.4;
		text-transform: uppercase;
	}

	.components-panel__body {
		&.is-opened {
			padding: 16px 0 0;
		}

		&-title {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}

	&__component {
		padding: 16px;

		&:first-of-type {
			padding-top: 0;
		}

		&:not(:last-child) {
			border-bottom: 1px solid #E0E0E0;
		}

		&-media {
			margin-top: 10px;
			display: flex;
			align-items: center;
			column-gap: 10px;
		}
	}
}

.section-product-slider {
	&.slider-is-enabled {
		.section-product-slider__slider {
			.product:nth-child(n+5) {
				display: none;
			}
		}
	}
}