@use '../../src/scss/partials/variables' as *;
@use '../../src/scss/partials/mixins' as *;

.section-product-slider {
	&.has-alt-bg {
		background-color: $color-alt-background;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 20px;
		margin-bottom: 70px;

		@include breakpoint (sm-tablet, max) {
			flex-direction: column;
			align-items: start;
		}

		&-button {
			flex-shrink: 0;
		}
	}

	&__slider {
		display: grid;
		column-gap: 25px;
		row-gap: 50px;

		@include breakpoint (lg-phone, min) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint (tablet, min) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include breakpoint (laptop, min) {
			grid-template-columns: repeat(4, 1fr);
		}

		@include breakpoint (lg-phone, max) {
			row-gap: 40px;
		}

		.product {
			position: relative;
			background-color: $color-white;
			text-align: center;
			border: 2px solid transparent;
			transition: $transition;

			&:hover {
				border-color: $color-primary;
			}

			&__sale-badge {
				position: absolute;
				top: 10px;
				right: 10px;
				z-index: 1000;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 70px;
				height: 35px;
				border-radius: 3px;
				background-color: $color-accent;
				color: $color-white;
				font-weight: $font-weight-semi-bold;
			}

			&__image {
				display: block;
			}

			&__description {
				padding: 20px 10px;
			}

			&__price {
				font-size: $font-size-lg;
				font-weight: $font-weight-semi-bold;

				&-regular {
					font-size: $font-size-md;
					font-weight: $font-weight-normal;
				}

				&-sale {
					margin-left: 5px;
					text-decoration: none;
				}
			}

			&__cart {
				display: flex;
				flex-direction: column;
				align-items: center;

				&-button {
					margin-top: 20px;
					padding: 12px 20px 10px;
					font-size: $font-size-sm;
				}

				a.added_to_cart.wc-forward {
					margin-top: 20px;
					font-size: $font-size-sm;
					font-weight: $font-weight-semi-bold;
					text-transform: capitalize;
				}
			}

			&.slick-slide {
				margin-left: 15px;
				margin-right: 15px;

				@include breakpoint (tablet, max) {
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		gap: 30px;
		margin-top: 50px;

		@include breakpoint (sm-tablet, max) {
			gap: 20px;
		}

		&-prev,
		&-next {
			width: 70px;
			height: 70px;
			background-color: $color-accent;
			border-radius: 50%;
			transition: $transition;

			@include breakpoint (sm-tablet, max) {
				width: 55px;
				height: 55px;
			}

			&:hover {
				background-color: $color-primary;
			}
		}

		&-prev {
			transform: rotate(180deg);
		}
	}
}